**/*.ts
**/*.map
node_modules
src
.vscode
.vscode-test
*.vsix
.github
.husky
.fork
.gitignore
.npmrc
.prettierrc
.mocharc.cjs
.vscode-test.mjs
eslint.config.mjs
tsconfig.json
tsconfig.npmScripts.json
tsconfig.test.json
prepare-release.js
webpack.config.js
.gitattributes
